.order-item{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    align-items: start;
    gap: 30px;
    border: 1px solid rgb(27, 55, 110);
    padding: 20px;
    margin: 30px 0;
    font-size: 14px;
    color: #454545;
}

.order-item-dress, .order-item-name{
    font-weight: 600;
}

.order-item-name{
    margin-top: 30px;
    margin-bottom: 5px;
}

.order-item-address{
    margin-bottom: 10px;
}

.order-item select{
    background-color: rgb(181, 203, 246);
    border: 1px solid rgb(27, 55, 110);
    width: max(1vw, 140px);
    padding: 8px;
    outline: none;
}


@media (max-width:1050px) {
    .order-item{
        font-size: 12px;
        grid-template-columns: 0.5fr 2fr 1fr;
        padding: 15px 8px;
    }
    .order-item select{
        padding: 5px;
        font-size: 12px;
    }
    .order-item img{
        width: 40px;
    }
    
}